<div class="container">
    <div class="loginCard">
        <div class="form">
            <form class="example-form">
                <mat-form-field class="example-full-width" appearance="fill">
                  <mat-label>Email</mat-label>
                  <input type="email" matInput [formControl]="email" placeholder="Ex. pat@example.com">
                  <mat-error *ngIf="email.hasError('email') && !email.hasError('required')">
                    Please enter a valid email address
                  </mat-error> 
                   <mat-error *ngIf="email.hasError('required')">
                    Email is <strong>required</strong>
                  </mat-error>
                </mat-form-field>
                <mat-form-field class="example-full-width" appearance="fill">
                    <mat-label>Password</mat-label>
                    <input type="password"  matInput [formControl]="password" >
                    <mat-error *ngIf="password.hasError('minlength') && !password.hasError('required')">
                     Please Enter Strong Password 
                    </mat-error> 
                    <mat-error *ngIf="password.hasError('required')">
                      Password is <strong>required</strong>
                    </mat-error> 
                  </mat-form-field>

                <button (click)="submit()" style="flex:1;width:100%" [disabled]=!email.valid||!password.valid>
                <ng-container *ngIf="showLoader"> <mat-progress-spinner
                  class="example-margin"
                  [color]="color"
                  [mode]="mode"
                  [value]="value">
              </mat-progress-spinner></ng-container>

              <ng-container *ngIf="!showLoader">Login</ng-container>

             

                </button>
                <br>
                <section class="example-section">
                  <mat-checkbox (click)="Remember()" class="example-margin">Remember me!</mat-checkbox>
                  
                </section>
               <!-- <p (click)="goToRegister()" style="cursor: pointer; text-align: center;font-size: 1.7em;margin-top: 40px; ">Create New Account</p> -->

<!-- <p (click)="goTonavbar()">About us page </p>            -->
   </form>
<!-- <h2>{{homeservice.message}}</h2> -->
  </div>
</div>
</div>
