.example-spacer {
    flex: 1 1 auto;
  }
  .container {
    width: 98%;
    margin: 0 auto;
    margin-top: 40px;
    }
    .cards {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    }
    