<mat-toolbar>
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
      <mat-icon>menu</mat-icon>
    </button>
    <span>Training Web Site </span>
    <span class="example-spacer"></span>
    <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
      <mat-icon>favorite</mat-icon>
    </button>
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
      <mat-icon>share</mat-icon>
    </button>
  </mat-toolbar>


  <div class=container>
    <div class="cards">
    
<app-course-cards *ngFor="let card of data" [typeLang]="card.typeLang" [subText]="card.subText" [description]="card.description"
 (openProfile)="goToPrpfile()"></app-course-cards>
  
</div>
</div>
  
  