/* .owl-carousel.owl-loaded {
    display: inline;
}

.owl-carousel {
    display: block;
    width: 25%;
    webkit-tap-highlight-color: transparent;
    position: relative;
    z-index: 1;
}

.thumb-img {
    position: relative;
}

img {
    max-width: 100%;
    vertical-align: middle;
    
} */

